body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.home-container div{
  margin: 20px;
  min-width: 40%;
 
  display: flex;
  justify-content: space-between;
}
.home-container div >span{
  border: 1px solid black;
  padding: 5px;
  display: flex;
  flex: 1;
  
}

button{
  cursor: pointer;
 
}

a{
  text-decoration: none;
}
.head{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

 margin-bottom: 20px;
}


/* form */


form >div{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
}


form > div > *{
  width: 80%;

}

.buttons-form{
  /* background-color: red; */
  display: flex;
  justify-content: space-around;
  height: 150px;
  
}

form >div > button{
  width: 180px;
  height: 40px;
  
}